@model NotUseAuto.Models.Product

<h3>Product Details</h3>
<div>
    <br />
</div>
<h4>Name: @Model.Name</h4>
<h4>Price: @Model.Price</h4>
<h4>Quantity: @Model.Quantity</h4>
<h4>Description: @Model.Description</h4>
